keepalive/setup.sql
keepalive/__pycache__/keepalive.cpython-310.pyc
LocationHistory/android/LocationTracker/.gradle/*
LocationHistory/android/LocationTracker/.idea/*
LocationHistory/android/LocationTracker/app/build/*
tutorials/ai/AI_Tutorial_Complete_Guide.docx
tutorials/ai/ai-tutorial-complete-guide.pdf
